<!DOCTYPE html>
<html>
	<font color="white">
	<head>
		<title>Gamdom.trade :: Deposit</title>
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
		<link rel="stylesheet" href="styles.css">
	</head>
	<body background="img/background.png">
	
		<nav class="navbar"><h1>
			<div class="floatleft">
				<a href="/"><img src="img/logo.png" height="35"></a>
            </div>
            <div class="floatright">
				<div class="balancediv">
					<span class="balance">
						<span class="icon-balancecoin">
							<img src="img/balance.png">{{#if user.credits}} {{user.credits}}{{else}} 0{{/if}}
						</span>
					</span>
				</div>
				{{#if user}}
				<div class="user">
					{{user.personaname}}
				</div>
				<div class="logout">
					<a href="/logout">Logout</a>
				</div>
				{{else}}
				<a href="/auth/steam"><img src="img/steam_login.png"></a>
				{{/if}}
            </div>
		</nav></h1>
		
		<br><br>
		<h1>Deposit Items</h1>
		<br>
		<ul><div class="deposit">
			{{#each items}}
			<h3><li class="deposit item" data-assetid="{{this.assetid}}">{{this.name}} (${{this.price}})</li><h3>
			{{/each}}
		</div></ul>
	</body>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/main.js"></script>
	</font>
</html>